  <div class="w3-container w3-padding-32 w3-black w3-opacity w3-card w3-hover-opacity-off" style="margin:32px 0;">
    <h2>Obtenir la Meilleure Ofrre en Premier.</h2>
    <p>Rejoindre notre Newsletter.</p>
    <label>E-mail</label>
    <input class="w3-input w3-border" type="text" placeholder="Your Email address">
    <button type="button" class="w3-button w3-red w3-margin-top">S'abonner</button>
  </div>

  <div class="w3-container" id="contact">
    <h2>Contact</h2>
    <p>Si vous avez des questions, n'hésitez pas à les poser merci.</p>
    <i class="fa fa-map-marker w3-text-red" style="width:30px"></i> DIA Immobilier<br>
    <i class="fa fa-phone w3-text-red" style="width:30px"></i> Phone: +00 337 53 94 91 61<br>
    <i class="fa fa-envelope w3-text-red" style="width:30px"> </i> Email: dramediaphara36@gmail.com<br>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required name="Message"></p>
      <P> <a href="{{ path('app_index') }}"class="w3-button w3-black w3-padding-large" type="submit">Envoyer le Message </a></P>
    </form>
  </div>